# ============================
# Python
# ============================
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyd
*.egg-info/
.Python

# ============================
# Entornos virtuales
# ============================
.venv/
venv/
.conda/

# ============================
# IDEs & Editors
# ============================
.vscode/
.idea/

# ============================
# macOS / SO
# ============================
.DS_Store

# ============================
# Logs & Outputs
# ============================
*.log
logs/

# ============================
# 🔹 Data pesada (capturas/datasets)
# ============================
*.bag      # rosbag recordings
*.vrs      # Meta Aria recordings
*.xml      # anotaciones / configuraciones exportadas

# ============================
# Modelos entrenados
# ============================
*.pt

# ============================
# Documentación 
# ============================
docs/